.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replace {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
}
/* 
TABLE OF CONTENTS
  
  HTML & Resets
  Grid & Structure
  Navigation
  Content Styles 
  Post Styles
  Form Elements
  Footer
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object {
  display: block;
}
html {
  background: #ffffff url(../images/squairy_light.png);
}
body {
  color: #111111;
  min-width: 1280px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: transparent;
}
body,
input,
textarea,
select,
button {
  font-family: 'omnes-pro', sans-serif;
}
a,
a:visited {
  color: #1899cb;
  text-decoration: none;
}
a:hover,
a:active {
  color: #5dc4ec;
}
a:hover,
:focus,
li:hover,
img:hover,
input:hover {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
p {
  margin: 15px 0;
  line-height: 150%;
}
hr {
  display: block;
  height: 1px;
  background: #555555;
  color: #555555;
  border: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0;
}
table td {
  padding: 4px 6px;
  border-bottom: 1px solid #d7d7d7;
}
table tr {
  background: #f3f3f3;
}
table caption {
  background: #FFF;
  padding: 2px 0;
}
figure {
  position: relative;
}
figure img {
  width: 100%;
}
img,
object,
embed {
  max-width: 100% !important;
}
img {
  height: auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'dapifer', Georgia, 'Times New Roman', serif;
  text-rendering: optimizeLegibility;
}
.row {
  max-width: 1280px;
  clear: both;
  margin: 0 auto;
}
.row .col-content {
  width: 65.4%;
  float: left;
}
.row .col-sidebar {
  width: 28.75%;
  float: right;
}
.row .full-width {
  width: auto;
}
.row .onecol,
.row .twocol,
.row .threecol,
.row .fourcol,
.row .fivecol,
.row .sixcol,
.row .sevencol,
.row .eightcol,
.row .ninecol,
.row .tencol,
.row .elevencol {
  float: left;
  min-height: 1px;
}
.main {
  padding: 1px;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
/*Primary Nav*/
#nav-toggle {
  display: none;
}
.nav-bg .nav {
  *zoom: 1;
  height: 42px;
  /*Second Tier Menu*/
  /*Third Tier Menu*/

}
.nav-bg .nav li {
  position: relative;
  list-style: none;
}
.nav-bg .nav > li {
  margin: 5px 15px 0;
  float: left;
}
.nav-bg .nav li a {
  display: block;
  padding: 8px;
}
.nav-bg .nav > li:hover a,
.nav-bg .nav > li.current_page_item > a,
.nav-bg .nav > li.current_page_parent > a {
  color: #fff;
}
.nav-bg .nav li.menu-item-has-children {
  background: url(../images/nav-arrows.png) no-repeat right 16px;
  padding-right: 6px;
  background-position-y: 16px;
}
.nav-bg .nav li.menu-item-has-children:hover {
  background: #fff;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  transition: all 0s linear;
}
.nav-bg .nav li.menu-item-has-children:hover a,
.nav-bg .nav li.menu-item-has-children:hover a:visited {
  color: #111;
}
.nav-bg .nav li.menu-item-has-children:hover .sub-menu {
  left: 0;
  top: 34px;
}
.nav-bg .nav .sub-menu {
  position: absolute;
  left: -9999px;
  margin-top: 0;
  z-index: 999;
  width: 190px;
  background: #fff;
}
.nav-bg .nav .sub-menu a,
.nav-bg .nav .sub-menu a:visited {
  color: #111111;
  display: block;
  position: relative;
  z-index: 100;
}
.nav-bg .nav .sub-menu a:hover,
.nav-bg .nav .sub-menu a:active {
  background: #efefef;
}
.nav-bg .nav .sub-menu .sub-menu {
  display: none;
}
.nav-bg .nav .sub-menu li.menu-item-has-children:hover .sub-menu {
  display: block;
  left: 190px;
  top: 0;
}
/*Social*/
.social {
  text-align: center;
}
.social li {
  display: inline;
  margin: 0 3px;
}
.social a,
.social a:visited {
  border: 3px solid #503941;
  -webkit-border-radius: 100em;
  -moz-border-radius: 100em;
  border-radius: 100em;
  width: 28px;
  height: 28px;
  text-align: center;
  display: inline-block;
}
.social a:hover,
.social a:active {
  border-color: #927780;
}
/*Misc*/
.TB_overlayBG {
  background-color: #ccc !important;
  -moz-opacity: 0.9 !important;
  -khtml-opacity: 0.9 !important;
  -webkit-opacity: 0.9 !important;
  opacity: 0.9 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90) !important;
  filter: alpha(opacity=90) !important;
}
#TB_window {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.8) !important;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.8) !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8) !important;
  border: none !important;
}
#TB_window #TB_title {
  background: transparent;
}
#TB_window #TB_title #TB_closeWindowButton {
  border: 1px solid #ccc;
  display: inline-block;
}
#TB_window #TB_title #TB_closeWindowButton .tb-close-icon {
  width: 22px;
  height: 17px;
  margin: -3px 0 0;
}
#TB_window #TB_closeWindowButton:hover {
  background: #ccc;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.logo a,
.logo a:visited {
  width: 112px;
  height: 112px;
  /* background: url(../images/logo.png) no-repeat; */

  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
}
.avatar {
  margin: 3px 11px 0 0;
  float: left;
}
/*Author Page*/
.writer {
  background: #f3f3f3;
  margin-bottom: 20px;
  padding: 16px;
}
.writer p {
  margin-top: 0;
}
.writer .avatar {
  margin: 4px 17px 7px 0;
}
/*Search and Archives*/
.search-highlight {
  background: #ffff00;
}
.archive-pagination .numbered {
  padding: 4px 8px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #d7d7d7;
}
.archive-pagination .numbered:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #555555;
}
.archive-pagination .numbered.current-numeric-page {
  border: none;
}
.thumb-wrap {
  float: left;
}
.thumb-wrap img {
  margin: 3px 15px 20px 3px;
}
.excerpt-wrap h2.posttitle {
  font-size: 1.5em;
}
.archive article,
.search article,
.blog .article {
  padding-bottom: 8px;
  margin-bottom: 18px;
  border-bottom: 1px solid #d7d7d7;
}
/*Global Widgets*/
.widget {
  margin-bottom: 25px;
}
.widget .textwidget {
  margin: 5px 0;
  line-height: 150%;
  padding: 0 10px;
}
.widget .widget_tag_cloud a {
  display: inline;
  float: none;
}
.widget td {
  background: none;
}
.widget #calendar_wrap {
  margin: 0 10px 10px 10px;
}
/*Sidebar Widgets*/
aside .widget-wrap {
  padding-bottom: 10px;
}
aside .widget {
  margin: 15px 0;
}
aside .widget #s {
  width: 34%;
}
aside .widget h3.widgettitle {
  font-size: 1em;
}
aside .widget li {
  line-height: 130%;
  list-style: none;
  margin-left: 15px;
  border-bottom: 1px solid #d7d7d7;
  padding: 7px 0;
}
aside .widget li li {
  margin: 0 0 0 30px;
  border: none;
  font-size: .8em;
  padding: 1px 0;
  list-style: square;
}
aside .widget li .postmetadata {
  padding: 3px 0 0;
}
aside .widget li,
aside .widget .tagcloud {
  margin: 2px 0;
}
aside .widget li:last-child {
  padding-bottom: 0;
  border: 0;
  border-bottom: none;
}
aside .widget select {
  margin: 12px 10px 8px;
  width: 94%;
}
article h1 {
  font-size: 2.4em;
}
article h2 {
  font-size: 2em;
}
article h3 {
  font-size: 1.8em;
}
article h4 {
  font-size: 1.4em;
}
article h5 {
  font-size: 1em;
}
article h6 {
  font-size: .8em;
}
article .postmetadata {
  padding: 7px 0;
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
article .postmetadata em {
  text-transform: lowercase;
}
article .commentcount {
  padding-left: 17px;
  background: url(../images/bubble.png) no-repeat;
}
article blockquote {
  padding: 0 18px;
  margin: 25px 45px;
  border-left: 3px solid #555555;
  color: #494949;
}
article pre,
article code {
  font: 1em "Courier New", Courier, monospace;
}
article code {
  background: #f3f3f3;
  padding: 8px;
  color: #494949;
  display: block;
}
article ul,
article ol {
  padding: 15px 0;
}
article ul li,
article ol li {
  margin: 0 0 10px 48px;
  line-height: 135%;
}
article ul {
  list-style: disc;
}
article dl dt {
  font-weight: bold;
  font-size: 1.2em;
}
article dl dd {
  margin: 0 0 15px 0;
}
article #wp-edit {
  clear: both;
}
article img {
  display: block;
  margin: 22px auto;
}
article img.wp-smiley {
  float: none;
  border: none;
  padding: none;
  background: transparent;
}
article .gallery {
  margin: 15px 0;
  display: block;
}
article .gallery .gallery-item {
  padding: 12px 0;
}
article .gallery img {
  margin: 0 auto;
  display: block;
  border: none !important;
}
article .gallery .gallery-caption {
  padding: 10px;
  font-size: .9em;
  font-style: italic;
}
article .gallery .image-gallery-item {
  width: 111px;
  height: 86px;
  float: left;
  text-align: center;
  margin: 0 15px 15px 0;
}
article .tags {
  clear: both;
  padding: 4px 6px;
  font-size: 0.8em;
}
article .tags a,
article .tags a:visited {
  display: inline-block;
  background: #f3f3f3;
  border: none;
  padding: 1px 9px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  margin-right: 5px;
  color: #111111;
}
article .tags a:hover,
article .tags a:active {
  background: #e1e1e1;
}
article .wp-caption {
  border-style: solid;
  border-width: 1px;
  border-color: #d7d7d7;
}
article .wp-caption p.wp-caption-text {
  margin: 5px 0 0;
  padding: 5px 0 10px;
  text-align: center;
  font-family: 'dapifer', Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-size: .85em;
  color: #494949;
}
article .wp-caption img,
article .wp-caption img:hover {
  float: none;
  margin: 5px auto;
  display: block;
  padding: 0;
  box-shadow: none;
}
article .aligncenter {
  margin: 22px auto;
}
article .alignleft {
  margin: 6px 15px 10px 5px;
  float: left;
}
article .alignright {
  margin: 8px 0px 15px 32px;
  float: right;
}
.postnav {
  border-style: solid;
  border-color: #d7d7d7;
  border-width: 1px 0;
  padding: 18px 0;
  margin: 40px 0;
  font-size: .85em;
}
.postnav h5 {
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.postnav .left {
  text-align: right;
}
.postnav .left,
.postnav .right {
  width: 48%;
}
.postnav a {
  display: inline-block;
  width: 65%;
  line-height: 1.4em;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #979797 #c6c6c6 #c6c6c6 #979797;
  padding: 8px;
  color: #111111;
  font-size: .95em;
  box-sizing: border-box;
}
textarea {
  width: 100%;
}
input:focus,
textarea:focus {
  border-color: #333;
}
a.buy,
a.buy:visited {
  margin-left: 10px;
}
a.buy,
a.buy:visited,
button,
.button,
input[type=submit] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
  text-transform: uppercase;
  font-size: .6em;
  border: 2px solid #333;
  font-family: 'omnes-pro', sans-serif;
  color: #111;
  font-weight: 500;
  letter-spacing: .06em;
  background: transparent;
  cursor: pointer;
  outline: none;
}
a.buy:hover,
a.buy:active,
button:hover,
.button:hover {
  color: #fff;
  background: #000;
}
.overlay button.overlay-close:hover,
.overlay article .desc-about a.button:hover {
  background: transparent;
  color: #fff;
  border-color: #9b9b9b;
}
#trigger-overlay,
.overlay .overlay-close {
  position: fixed;
  top: 12px;
  right: 12px;
}
.overlay {
  color: #fff;
}
.overlay button.overlay-close {
  border-color: #696969;
  color: #fff;
}
.overlay article {
  max-width: 600px;
  margin: auto;
  color: #ededed;
}
.overlay article .hdr-about {
  width: 20%;
}
.overlay article .hdr-about h3 {
  border-top: 3px solid #858585;
  display: inline-block;
  margin-top: 20px;
  font-weight: 100;
  text-align: right;
  padding-left: 40px;
}
.overlay article .desc-about {
  width: 74%;
}
.overlay article .desc-about em {
  color: #a0a0a0;
}
.overlay article .desc-about a.button {
  color: #ffffff;
}
.overlay article .desc-about a,
.overlay article .desc-about a:visited {
  color: #b17fd2;
}
.overlay article .desc-about a:hover,
.overlay article .desc-about a:active {
  color: #d9b6f0;
}
.searchform,
#searchform {
  padding: 10px 10px 5px;
}
input.searchfield[type=text] {
  -webkit-border-radius: 100em;
  -moz-border-radius: 100em;
  border-radius: 100em;
  background: #4e4e4e;
  padding: 6px 10px;
  color: #d8d8d8;
  width: 80px;
  border: none;
}
input.searchfield[type=text]:focus {
  background: #585858;
  width: 155px;
}
.entry .wpcf7 label {
  display: block;
  font-weight: 600;
  margin: 15px 0 3px;
}
.entry .wpcf7 span.wpcf7-not-valid-tip {
  color: red;
  border: none;
  background: transparent;
  padding: 2px 6px;
  top: 0;
  left: 0;
}
.entry .wpcf7 div.wpcf7-validation-errors {
  border: none;
  font-weight: 600;
}
.entry .wpcf7 div.wpcf7-mail-sent-ok {
  border: none;
  color: #398f14;
  font-weight: 600;
}
.entry .wpcf7 div.wpcf7-response-output {
  margin: 0;
  padding: 0;
}
.entry .wpcf7 img.ajax-loader {
  padding: 0;
  background: transparent !important;
  margin: 15px 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0) !important;
}
video {
  opacity: .2;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg) no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
#player {
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  -webkit-opacity: 0.85;
  opacity: 0.85;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
  filter: alpha(opacity=85);
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 15px;
  text-align: center;
}
footer h1 {
  font-size: 2.2em;
  font-weight: 500;
  margin-bottom: 9px;
  color: #272727;
}
footer h1 .quote {
  color: #ff6700;
}
footer h2 {
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 1.15em;
  letter-spacing: .03em;
  color: #494949;
  font-family: 'omnes-pro', sans-serif;
}
footer h2 strong {
  font-weight: 500;
}
footer .meta {
  font-size: .65em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  color: #494949;
}
footer .meta a,
footer .meta a:visited {
  color: #111;
  border-bottom: 2px solid #919191;
  padding-bottom: 2px;
}
footer .meta a:hover,
footer .meta a:active {
  border-color: #333;
}
